:root {
  font-size: 10px;
  --coral: #f78888;
}

* {
  box-sizing: border-box;
}

body {
  color: #ececec;
}

.center-content {
  margin: 0 auto;
  width: 90%;
}

.full-width {
  width: 100%;
}

.coral {
  background-color: var(--coral);
}

.container-header-and-main {
  margin: 0;
  padding: 0;
}
