.featured-content-container {
  background-color: #ececec;
  padding: 4rem 0;
  width: 100%;
}

.featured-content-items {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.featured-item {
  width: 100%;
  margin-bottom: 4rem;
}

.featured-item:last-child {
  margin-bottom: 0;
}

.featured-title {
  color: #2f4f4f;
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 2rem 0rem;
  text-align: center;
}

.featured-image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.featured-text {
  color: #2f4f4f;
  font-size: 2rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: justify;
}

.featured-button {
  background-color: #ececec;
  border: #f78888 solid 0.2rem;
  border-radius: 0.2rem;
  color: #2f4f4f;
  display: block;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.featured-button:hover {
  color: #f78888;
}

@media (min-width: 768px) {
  .featured-content-items {
    flex-flow: row;
  }

  .featured-item {
    border: lightgray solid 0.2rem;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
  }

  .featured-text {
    font-size: 1.6rem;
  }

  .featured-button {
    font-size: 1.8rem;
  }
}
